// burger
// _global.scss

$current_theme: 'light';
$primary: #806126;
$secondary: #d84f25;
$tertiary: #5d9e47;

$breakpoints: (
  'xs':  ( max-width:  300px ),
  'sm':  ( min-width:  767px ),
  'sm-only':  ( max-width:  767px ),
  'md': ( min-width:  992px ),
  'md-only': ( max-width:  992px ),
  'lg':  ( min-width: 1200px ),
  'lg-only':  ( max-width: 1200px ),
  'xl':  ( min-width: 1400px ),
  'xl-only':  ( max-width: 1400px ),
  'ie9-only': ( only screen and (min-width:0\0) ),
  'ie10-up': ( all and (-ms-high-contrast: none), (-ms-high-contrast: active) )
) !default;


// Asset paths

/// Options include dev, stage, prod
/// Customize paths below, change this before starting QA and before moving to production
/// @name setMode
//
$setMode: 'dev';

/// @name Asset Path Map
// Configure your asset urls here
// use the var $asset_path when calling bg images
$asset_paths: (
  dev: (
    base_url: 'http://localhost:3000/',
    asset_path: 'http://localhost:3000/images/'
  ),
  stage: (
    base_url: 'http://www.staging.com/',
    asset_path: 'http://www.staging.com/images/'
  ),
  prod: (
    base_url: 'http://www.production.com/',
    asset_path: 'http://www.production.com/images/'
  )
);

// Set path function
@function setPaths($path__name, $path__url:null) {
  /// path__url is optional
  @if ($path__url != null) {
    /// map inception
    @return map-get(map-get($asset_paths, $path__name), $path__url);
    } @else {
      @return map-get($asset_paths, $path__name);
  }
}

// Set site path vars
$asset_path: setPaths($setMode, asset_path);
$base_url: setPaths($setMode, base_url);

//-colors
$black: #2E282A;
$blue: #17BEBB;
$white: #fff;
$red: #EF3E36;
$yellow: #f5c100;
$purple: #9b56b8;
$pink: #e479b9;
$green: #22ce6d;
$orange: #e87d00;
$grey: #a6a6a6;
$brown: #614126;
$lime: #32cd32;
$navy: #324fb0;

//-light colors
$light-purple: #F5F5FF;
$light-blue: #588bcd;
$light-brown: #c89863;
$light-grey: #efefef;
$light-green: #E3FFE6;
$light-orange: #f8d148;

//-other colors
$off-white: #f4f6f8;
$fb-blue: #495699;
$tw-blue: #4099ff;
$yt-red: #a8462a;
$insta-blue: #455b84;
$walmart-blue: #007cc2;
