// ==========================================================================
// Color Config
// ==========================================================================

//-light colors
$light-purple: #F5F5FF;
$light-blue: #588bcd;
$light-brown: #c89863;
$light-grey: #efefef;
$light-green: #E3FFE6;
$light-orange: #f8d148;

//-other colors
$off-white: #f4f6f8;
$fb-blue: #495699;
$tw-blue: #4099ff;
$yt-red: #a8462a;
$insta-blue: #455b84;
$walmart-blue: #007cc2;

//-body
$body-bg-color: $black;
$body-text-color: $black;
$backdrop: rgba(0, 0, 0, 0.65);

//-global link
$link-color: $white;
$link-hover: $grey;

//-nav
$nav-bg-color: transparent;
$nav-link-color: $white;
$nav-li-bg-color: transparent;

//-logo text color
$logo-color: null;

//-headings
$heading-color: null;
$h1-color: $white;
$h2-color: $white;
$h3-color: $white;
$h4-color: $white;
$h5-color: $white;
$h6-color: $white;

//-header
$header-bg-color: $black;
$header-text-color: $white;
$header-link-color: $link-color;
$header-link-hover: $link-hover;

//-mobile nav
$mobile-nav-color: $black;
$mobile-nav-link-color: $link-color;
$mobile-nav-link-hover: $link-hover;


//-hero
$hero-bg-color: $blue;
$hero-text-color: $white;

//-main
$main-bg-color: transparent;
$main-text-color: $white;
$main-link-color: $link-color;
$main-link-hover: $link-hover;

//-section
$section-bg-color: $black;
$section-text-color: $white;
$section-link-color: $link-color;
$section-link-hover: $link-hover;

//-article
$article-bg-color: $black;
$article-text-color: $white;
$article-link-color: $link-color;
$article-link-hover: $link-hover;

//-footer
$footer-bg-color: transparent;
$footer-text-color: $white;
$footer-link-color: $link-color;
$footer-link-hover: $link-hover;

//-sidebar
$sidebar-bg-color: $black;
$sidebar-text-color: $white;
$sidebar-link-color: $link-color;
$sidebar-link-hover: $link-hover;

//-buttons
$btn-text-color: $black;
$btn-border-size: 2px;
$btn-border-style: solid;
$btn-border-color: transparent;

//-buttons mapping
$btn-colors: (
  btn-black: $black,
  btn-blue: $blue,
  btn-white: $white,
  btn-grey: $grey,
  btn-pink: $pink,
  btn-red: $red,
  btn-yellow: $yellow,
  btn-purple: $purple,
  btn-orange: $orange
);

@each $btn-color, $color in $btn-colors {
  .btn.#{$btn-color} {
    background-color:#{$color};
  }
}

//-social icons
$social-bg-color: $white;
$social-text-color: $black;
$social-hover-color: $blue;

//-table
$table-header-color: $white;
$table-th-bg: $white;

$table-tr-bg: $white;
$table-tr-color: $black;

$table-tr-odd-bg: $grey;
$table-tr-odd-color: $white;


//-code
$code-bg-color: rgba(193, 199, 208, .3);

//-form
$input-border: $grey;
$error-border: $red;
$error-bg: $light-grey;
$modal-bg-color: $white;
