// ==========================================================================
// Load in Fonts
// ==========================================================================

@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300');
@import url('//fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

//-font family
$sans: 'Helvetica Neue',Helvetica,Arial,sans-serif;
$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$rail: 'Raleway', sans-serif;

$default-font: $sans;
$heading-font: $default-font;
$nav-font: $default-font;
