// ==========================================================================
// Images
// ==========================================================================

//-body
$body-bg-image:'' ;
$body-bg-attachment: none ;
$body-bg-position: 0 0;
$body-bg-repeat: no-repeat;
$body-bg-size: cover;

//-logo
$logo-image: '../images/logo.png';
$logo-display: inline-block;
$logo-bg-attachment: none;
$logo-bg-position: 0 0;
$logo-bg-repeat: no-repeat;
$logo-bg-size: cover;
