// content

p, ul {
  font-family:$default-font;
}

p {
  margin: 1em 0;
}

.content {
  margin:$content-margin;
  padding:$content-padding;
}

@mixin burgerDocs() {
  body.burger-docs {
    background:$color__body-bg;
    /* For demo only */
    header, footer {
      margin:1em auto;
      text-align: center;
      a {
        color:$secondary;
        &:hover {
          color:$tertiary;
        }
      }
    }
    p span {
      background:$primary;
      color:$white;
      font-weight:bold;
      padding: 0.25em;
      border-radius: 2px;
    }
    h2 {
      @include fp(font-size, 30, 50);
    }
    h2, h3, h4 {
      margin: 1em 0 0.5em;
    }
    header {
      p {
        color:$black;
      }
      @include flex-center(flex, column);
      height:100vh;
      text-align: center;
    }

    @include breakpoint(sm-only) {
      img {
        width:100%;
        height:auto;
      }
    }

    .item {
      background-color: $blue;
      border-radius: 2px;
      display: block;
      height: 2em;
      margin-bottom: 1em;
      width: 100%;
    }
    hr {
      margin: 5em auto 0em;
      opacity:0.35;
    }
    .contain {
      max-width: 45em;
      margin:2em auto;
      background:$white;
      padding: 2em;
    }
    .contain p {
      font-size:14px;
      color:$color__text;
      margin-bottom:1em;
    }
    nav ul {
      margin: 1em auto;
      li {
        color:$secondary;
        margin: 0 1em;
        &:after {
          content: '/';
          display: none;
        }
      }
    }
    .header {
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      align-content:center;
      align-items:center;
      img {
        width:75px;
        margin-right:1em;
      }
    }
    footer {
      p {
        color:$black;
        font-size:12px;
        text-transform: lowercase;
      }
    }
  }

}
