// header layout

//-header
$header-height: 75px;
$header-col-padding: 7px;
$header-padding: 0 30px;


.header {
  width: 100%;
  padding: 1em;
  position:fixed;
  margin: 0;
  top: 0;
  left: 0;
  background:transparentize($white, 0.55);
  font-family:$rail;
}
