// ==========================================================================
// Modals
// ==========================================================================

//-mg-modal
$modal-height: auto;
$modal-width: 500px;

// Modal
.modal {
  @include position(fixed, $left:0, $top:20%, $right:0);
  @include flex-center(flex, column);
  @include size($modal-width, $modal-height);
  background:$white;
  padding:2em;
  margin: 0 auto;
  z-index: 999;
  text-align: center;
  display: none;
}


// Open modal
body.modal-open {
  overflow: hidden;
  .overlay {
    background: transparentize($black, .35);
    @include transition(0.25s all ease-in-out);
    @include position(fixed);
    @include size(100%);
    z-index: 888;
    overflow-x: auto;
  }
  .modal {
    display: flex;
  }
}
