// ==========================================================================
// Parallax
// ==========================================================================

$parallax-perspective : 1 !default;
$parallax-element     : "body" !default;
$parallax-ios         : true !default;


/// Initializes Parallax if enabled in project.json
@mixin parallax-init(
  $perspective  : $parallax-perspective,
  $element      : $parallax-element,
  $parallax-ios : $parallax-ios
  ) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px;
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &, * {
      /* transform-style: preserve-3d; */
    }
  }
}

@mixin parallax(
  $distance    : 0,
  $perspective : $parallax-perspective
  ) {
  transform:
    translateZ($distance * $perspective * 1px)
    scale(abs($distance - 1))
  ;
  z-index: $distance * 1000;
}


@include parallax-init;

// Add to hero and main as examples

#hero {
  z-index: 5;
  .item {
    @include parallax(-.1);
  }
  .row.center.absolute {
    @include parallax(.2);
  }
  margin: auto;
  > * {
    /* position: absolute; */
  }
}

main {
  @include parallax(-.25);
  z-index:7;
}
