// Tags

$tag-padding:0 10px;
$tag-margin: 0 1.5em 0 0;
$color__tags-text: $white;

.tags {
  @extend %clearfix;
  .tag {
    display: inline-block;
    border:1px solid transparent;
    font-family:$default-font;
    color: $color__tags-text;
    text-decoration: none;
    float: left;
    line-height: 34px;
    padding:$tag-padding;
    margin:$tag-margin;
    position: relative;
    &:before {
      content: '';
      border-bottom: 17px solid transparent;
      border-top: 17px solid transparent;
      height: 0;
      position: absolute;
      right: -11px;
      top: 0;
      width: 0;
    }
    &:after {
      background: $white;
      border-radius: 6px;
      content: '';
      float: left;
      height: 5px;
      position: absolute;
      right: -3px;
      top: 14px;
      width: 5px;
    }
    @each $name, $tag-color in $tag-colors {
      &.#{$name} {
        background-color: #{$tag-color};
        &:before {
          border-left: 10px solid #{$tag-color};
        }
      }
    }
  }
}
