// Settingss

// Header type: stacked, inline, none
$header-type: 'stacked';

//-logo
$logo-hover-fade: true;

//-nav
$mobile-nav-on-tablet: true;

//-header
$fixed-header: true;
$scroll-header: false;
$full-width-header-mobile: true;

//-main
$full-width-main-mobile: true;

//-footer
$sticky-footer: true;

//-sidebar
$fixed-sidebar: false;
