// burger
// _global.scss


$breakpoints: (
  'xs':  ( max-width:  300px ),
  'sm':  ( min-width:  767px ),
  'sm-only':  ( max-width:  767px ),
  'md': ( min-width:  992px ),
  'md-only': ( max-width:  992px ),
  'lg':  ( min-width: 1200px ),
  'lg-only':  ( max-width: 1200px ),
  'xl':  ( min-width: 1400px ),
  'xl-only':  ( max-width: 1400px ),
  'ie9-only': ( only screen and (min-width:0\0) ),
  'ie10-up': ( all and (-ms-high-contrast: none), (-ms-high-contrast: active) )
) !default;

//-default font
$sans: 'Helvetica Neue',Helvetica,Arial,sans-serif;
$default-font: $sans;
$heading-font: $default-font;

//-standard colors
$black: #000;
$blue: #495B7E;
$white: #fff;
$red: #ca2026;
$yellow: #ffd850;
$purple: #6b1769;
$pink: #eb2048;
$green: #4ebd45;
$orange: #ff9e04;
$grey: #a6a6a6;
$brown: #614126;
